* .Wrapper{
    background: #ececec;
    font-family: 'Nunito Sans', sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    margin:2%;
    padding: 3%;
    width: 1100px;
    border-radius: 10px;
    background: #fff;
}
.image-box{
    max-width: 500px;
    height: 600px;
    padding: 3%;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px rgba(0.2,0.2,0.2,0.2);
}

.buy-box{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.buy-box h2{
    margin: 0 0 1rem 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}

.buy-box p{
    margin: 10%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.buy-box h3{
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.buy-box button{
    margin-top: 20%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #070707;
    background-color: #ffffff;
    color: #070707;
    transition: all 0.2s ease-in-out;
    width: 150px;
}
.buy-box button:hover{
    background-color: #000;
    color: #fff;
    transition: background-color 0.2s ease;
}

.information{
    padding: 3%;
}

.information h5{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-size: 25px;
    text-decoration-line: underline;
}
.information p{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


/* modal */
.input-box{
    width: 330px;
    box-sizing: border-box;
}
.input-box h2{
    font-weight: 500;
    text-align: left;
    letter-spacing: 2px;
}

.form .label{
    display: block;
    color: #555555;
    margin-bottom: 6px;
}

.input{
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
}

.input-field-grp{
    display: flex;
    justify-content: space-between;
}

.card-item{
    width: 48%;
}

.space{
    margin-bottom: 20px;
}

.icon-relative{
    position: relative;
}

.icon-relative .fas,
.icon-relative .far{
    position: absolute;
    bottom: 17px;
    left: 15px;
    font-size: 20px;
    color: #555555;
}

.modal-footer {
    justify-content: flex-start;
}

.modal-footer .btn-primary {
    margin-right: 10px;
}



.purchase button{
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007AFF;
    color: #070707;
    transition: all 0.2s ease-in-out;
    width: 150px;
    justify-content: center;
    border: 1px solid #070707;

}
.purchase button:hover{
    background-color: #000;
    color: #fff;
    transition: background-color 0.2s ease;
}

.submit button{
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #070707;
    transition: all 0.2s ease-in-out;
    width: 150px;
    justify-content: center;
    border: 1px solid #070707;

}

.submit button:hover{
    background-color: #000;
    color: #fff;
    transition: background-color 0.2s ease;
}