<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/produkt.css">

</head>
<body>

<nav th:insert="components/navbar"></nav>

<div class="Wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 image-box">
        <img th:src="@{/images/{imageLink}(imageLink=${product.image.imageLink})}" alt="">
      </div>
      <div class="col-md-6 buy-box">
        <h2 th:text="${product.productName}"></h2>
        <p>Categories: tax, legal, accounting</p>
        <h3 th:text="${#numbers.formatDecimal(product.price, 0, 0)} + ' NOK'"></h3>
        <button class="btn btn-primary">Checkout</button>
      </div>
      <div class="information">
        <h5>Product Description</h5>
        <p th:text="${product.description}"></p>
      </div>
    </div>
  </div>
</div>

<footer th:insert="components/footer"></footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>