<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/produkt.css">

</head>
<body>

<nav th:insert="components/navbar"></nav>

<div class="Wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 image-box">
        <img th:src="@{/images/{imageLink}(imageLink=${product.image.imageLink})}" alt="">
      </div>
      <div class="col-md-6 buy-box">
        <h2 th:text="${product.productName}">ProFlex Tax Solutions</h2>
        <p>Categories: tax, legal, accounting</p>
        <h3 th:text="'Price: ' + ${product.price} + ' NOK'">200 NOK</h3>
        <button class="btn btn-primary">Buy Now</button>
      </div>
      <div class="information">
        <h5>Product Details</h5>
        <p th:text="${product.description}">Description: ProFlex Tax Solutions is the perfect software for businesses looking to streamline
          their tax preparation and filing process. Our intuitive user interface makes it easy to enter your
          data quickly and accurately, and our automated workflow will help you get the most out of your
          tax filing. Our software is secure, reliable, and efficient, allowing you to focus on your business
          without worrying about the security of your data. With ProFlex Tax Solutions, you can take
          control of your tax preparation process and maximize your success</p>
      </div>
    </div>
  </div>
</div>

<footer th:insert="components/footer"></footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</html>